likes:
    16volt
    alice in wonderland
    back to the future
    berserk
    black butler
    bsd
    bttf
    code
    coding
    danganronpa
    doctor who
    dragon maid
    evangelion
    filthy frank
    fsf
    future diary
    gnu
    gnulinux
    joji
    Kobayashi-san Chi no Maid Dragon
    kuroshitsuji
    linux
    Mahoutsukai no Yome
    mirai nikki
    neon genesis evangelion
    programming
    red dwarf
    starset
    star trek
    star trek tos
    star trek tng
    star trek ds9
    star trek voy
    the ancient magus bride
    the voyage home