{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 5%"
                    ]
                }
            }
        ],
        "@babel/preset-stage-0"
    ]
}
