include macros
doctype html
html
	head
		title My Great Website
		+bs
		block usercss
	body
		header
			h1 Hi!
		main
			block main
		footer
			p.small Hi there I'm a footer, a footer, oh yeah
		+jq
		+ko
		block userjs
