.stack-work
dist
dist-newstyle
.ghc.*
google.json
*.hi
*.o
result*
.direnv
hie.yaml
.env
jwt.secret
.hie
stan.html
*_stub.h
main
build
.nimbella
.deployed
__deployer__.zip
__pycache__/
node_modules
package-lock.json
.DS_Store
*.so.*
packages/sls2/debug/sls2
packages/sls2/hello/sls2
packelf.sh
